.App {
  text-align: center;
}
/* .oldes {
  position: relative;
  left: 130px;
  bottom: 50px;
} */
/* .alles{
  display: block;
  justify-content: space-around;
} */
* {
  background-color: rgb(8, 124, 124);
}
